<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LIBROS</title>
    <link rel="stylesheet" href="series.css">
    <script src="jquery-3.6.1.js"></script>
    <script src="buscador.js"></script>
    <script src="categoria.js"></script>
    <link rel="shortcut icon" href="img/logo.png" type="image/x-icon">
</head>
<body>
    <header>
        <h1 class="word">World <span>Friki</span></h1>
        <ul class="menu1">
            <li><a href="inicio.html" alt="inicio">INICIO</a></li>
            <li><a href="INDEX1.HTML" alt="peliculas">PELICULAS</a></li>
            <li><a href="series.html" alt="series">SERIES</a></li>
            <li><a href="libros.html" alt="libros">LIBROS</a></li>
        </ul>
    </header>
    <!-- <img  id="imagenF" src="img/fondo.png">
    <header class="img">
        <img src="img/logo.png" width="230" height="230" border="1px"/>
    </header> -->

    <div class="field" id="searchform">
        <input type="text" name="buscador" id="search" placeholder="¿Que libro buscas?">
      </div>
      
      <script class="cssdeck" src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>

      <div class="categoria">
        <h1>Categorias</h1><br>
        <div class="category_list">
<a href="#" class="category_item" category="all">todo</a>
<a href="#" class="category_item" category="terror">terror</a>
<a href="#" class="category_item" category="accion">accion</a>
<a href="#" class="category_item" category="romance">romance</a>
<a href="#" class="category_item" category="suspenso">suspenso</a>
        </div>
      </div>

    <h1 class="title">LIBROS</h1>
    <!-- <br>
    <h2 class="title2">LIBROS MAS POPULARES</h2>
    <br> -->
    <section class="Aside">
        <aside class="Aside1" category="terror">
            <h5>Resplandor</h5>
            <a href="https://www.panamericana.com.co/el-resplandor/p" target="_blank "><img src="libros/resplandor.jpg"></a>
 <!-- <h5>Sipnosis</h5>           
<p>Cuando un niño desaparece, sus amigos,
la familia y la policía se ven envueltos 
en una serie de eventos misteriosos al 
tratar de encontrarlo. Su ausencia coincide 
con el avistamiento de una criatura terrorífica 
y la aparición de una extraña niña.</p><br>
<li>Cantidad de temporadas: 4</li> -->
    </aside>
    <aside class="Aside1" category="terror">
            <h5>Carrie</h5>
            <a href="https://www.panamericana.com.co/carrie/p" target="_blank "><img src="libros/carrie.jpg"></a>
<!-- <h5>Sipnosis</h5>
<p>Un cirujano joven y autista que padece el síndrome del sabio empieza a trabajar en un hospital prestigioso.
 Allá tendrá que vencer el escepticismo con el que sus colegas lo reciben.</p><br>
<li>Cantidad de temporadas: 5</li>  -->
        </aside>
        <aside class="Aside1" category="terror">
        <h5>Misery</h5>
        <a href="https://www.panamericana.com.co/misery-3/p" target="_blank "><img src="libros/misery.jpg"></a> 
        <br>
<!-- <h5>Sipnosis</h5>
<p>Dos familias poderosas, reyes y reinas, caballeros y renegados, hombres falsos y honestos, haciendo
 parte de un juego mortal por el control de los Siete Reinados de Westeros y por sentarse en el trono
más alto. Martin es el co productor ejecutivo y uno de los escritores de la serie que fue filmada
 en el Norte de Irlanda y Malta.</p><br>
<li>Cantidad de temporadas: 8</li> -->
    </aside>
    <aside class="Aside1" category="terror">
        <h6>Cementerio De Animales</h6>
        <a href="https://www.panamericana.com.co/cementerio-de-animales/p" target="_blank "><img src="libros/animales.jpg"></a> 
        <br>
<!-- <h5>Sipnosis</h5> -->
<!-- <p>Han pasado tres años desde que Alison quien era la reina del grupo se desapareció. Spencer, Aria, Hanna y Emily
 continúan sus vidas aunque se han apartado. Ahora en la secundaria, cada chica está enfrentando diferentes retos
 cuando mensajes de texto anónimos de "A" amenazan con exponer todos sus secretos. ¿Quién es "A" y cómo sabe tanto?.
 Basada en la series de novelas de Sara Shepard.</p><br>
<li>Último episodio: 27 de junio de 2017</li>    
<li>Cantidad de temporadas: 7</li>
<li>Duración: 41-80 minutos</li> -->
    </aside>
    <aside class="Aside1" category="terror">
        <h5>The Stand</h5>
        <a href="https://www.amazon.com/-/es/Stephen-King/dp/8466357238" target="_blank "><img src="libros/stand.jpg"></a> 
        <br>
<!-- <h5>Sipnosis</h5> -->
<!-- <p>Han pasado tres años desde que Alison quien era la reina del grupo se desapareció. Spencer, Aria, Hanna y Emily
 continúan sus vidas aunque se han apartado. Ahora en la secundaria, cada chica está enfrentando diferentes retos
 cuando mensajes de texto anónimos de "A" amenazan con exponer todos sus secretos. ¿Quién es "A" y cómo sabe tanto?.
 Basada en la series de novelas de Sara Shepard.</p><br>
<li>Último episodio: 27 de junio de 2017</li>    
<li>Cantidad de temporadas: 7</li>
<li>Duración: 41-80 minutos</li> -->
    </aside>
    <aside class="Aside1" category="terror">
        <h5>El Visitante</h5>
        <a href="https://www.casadellibro.com/libro-el-visitante/9788401021190/7099713" target="_blank "><img src="libros/visitante.jpg"></a> 
        <br>
<!-- <h5>Sipnosis</h5>
<p>Han pasado tres años desde que Alison quien era la reina del grupo se desapareció. Spencer, Aria, Hanna y Emily
 continúan sus vidas aunque se han apartado. Ahora en la secundaria, cada chica está enfrentando diferentes retos
 cuando mensajes de texto anónimos de "A" amenazan con exponer todos sus secretos. ¿Quién es "A" y cómo sabe tanto?.
 Basada en la series de novelas de Sara Shepard.</p><br>
<li>Último episodio: 27 de junio de 2017</li>    
<li>Cantidad de temporadas: 7</li>
<li>Duración: 41-80 minutos</li> -->
    </aside>
    <aside class="Aside1" category="terror">
        <h5>Doctor Sueño</h5>
        <a href="https://www.panamericana.com.co/doctor-sueno-588241/p" target="_blank "><img src="libros/doctor.jpg"></a> 
        <br>
<!-- <h5>Sipnosis</h5>
<p>Han pasado tres años desde que Alison quien era la reina del grupo se desapareció. Spencer, Aria, Hanna y Emily
 continúan sus vidas aunque se han apartado. Ahora en la secundaria, cada chica está enfrentando diferentes retos
 cuando mensajes de texto anónimos de "A" amenazan con exponer todos sus secretos. ¿Quién es "A" y cómo sabe tanto?.
 Basada en la series de novelas de Sara Shepard.</p><br>
<li>Último episodio: 27 de junio de 2017</li>    
<li>Cantidad de temporadas: 7</li>
<li>Duración: 41-80 minutos</li> -->
    </aside>
    <aside class="Aside1" category="terror">
        <h5>El instituto</h5>
        <a href="https://www.panamericana.com.co/el-instituto-585646/p" target="_blank "><img src="libros/instituto.jpg"></a> 
        <br>

    </aside>
    <aside class="Aside1" category="terror">
        <h5>Ojos De Fuego</h5>
        <a href="https://www.alibrate.com/libro/ojos-de-fuego/59872eadcba2bce50c1f053f" target="_blank "><img src="libros/ojos.jpg"></a> 
        <br>

    </aside>
    <aside class="Aside1" category="suspenso">
        <h5>La Cupula</h5>
        <a href="https://www.panamericana.com.co/la-cupula-553539/p" target="_blank "><img src="libros/cupula.jpg"></a> 
        <br>

    </aside>
    <aside class="Aside1" category="romance">
        <h5>Eleanor & Park</h5>
        <a href="https://libreriatemis.com/product/eleanor-y-park/" target="_blank "><img src="libros/eleanor.jpg"></a> 
        <br>
    
    </aside>
    <aside class="Aside1" category="suspenso">
        <h5>Mentes Peligrosas</h5>
        <a href="https://www.buscalibre.com.co/libro-stranger-things-mentes-peligrosas/9788401022975/p/51446345" target="_blank "><img src="libros/peligro.jpg"></a> 
        <br>
    
    </aside>
    <aside class="Aside1" category="suspenso">
        <h5>Mundos Del Reves</h5>
        <a href="https://librerianacional.com/producto/stranger-things-mundos-del-reves-la-guia-oficial-" target="_blank "><img src="libros/reves.jpg"></a> 
        <br>
    
    </aside>
    <aside class="Aside1" category="suspenso">
        <h5>A Oscuras En La Ciudad</h5>
        <a href="https://www.panamericana.com.co/stranger-things-a-oscuras-en-la-ciudad-621041/p" target="_blank "><img src="libros/oscuridad.jpg"></a> 
        <br>
    
    </aside>
    <aside class="Aside1" category="suspenso">
        <h6>Recordando Los 80's</h6>
        <a href="https://www.amazon.com/-/es/Martí-Pallàs/dp/8494791710" target="_blank "><img src="libros/recordando.jpg"></a> 
        <br>
    </aside> 
    <aside class="Aside1" category="terror">
        <h5>Guerra Mundial Z</h5>
        <a href="https://www.penguinlibros.com/co/novela-negra-misterio-y-thriller/25479-ebook-guerra-mundial-z-9788490628096" target="_blank "><img src="libros/guerra.jpg"></a> 
        <br>
    </aside> 
    <ul class="menu">
        <li>
          <a href="libros.html">1</a>
        </li>
        <li>
          <a href="libros2.html">2</a>
        </li>
         <!-- <li>
          <a href="#slide3">3</a>
        </li> -->
      </ul>
    </section>

    
</body>
</html>