.category_item {
  padding: 10px;
  margin: 5px;
  margin-bottom: 30px;
  margin-top: 20px;
  border: 1px solid #ccc;
  cursor: pointer;
  background-color: #9c6f6f;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.category_item.active {
  background-color: #be3434;
  color: black;
}
.categoria{
  text-align: center;
}
.category_item:hover {
  transform: scale(1.05);
}