.categoria h1{
  color: white;
  text-align: center;
  font-size: 35px;
  font-family: 'Roboto', sans-serif;

}
.categoria{
  cursor: pointer;
  text-align: center;
  font-size: 1em;
  z-index: 1;
  margin-top: 3em;
}
.category_list{
display: inline-block;
padding: 50px; 
}
.category_list .category_item{
  /* display: block; */
  width: 10%;
  padding: 15px 18px 15px;
  margin-bottom: 15px;
  background-color: darkred;
  /* text-align: center; */
  /* text-decoration: none; */
  color:#fff;

}
.category_list .ct_item-active{
  background:rgb(165, 108, 108);
}