.categoria h1{
  color: white;
  text-align: center;
  font-size: 35px;
  margin-bottom: 15px;
}
.categoria{
  cursor: pointer;
  color:red;
  text-align: center;
  font-size: 1em;
  z-index: 1;
}
.category_list{
display: inline-block;
padding: 15px;  
}
.category_list .category_item{
  /* display: block; */
  width: 10%;
  padding: 15px 8px 15px;
  margin-bottom: 15px;
  background: red;
  /* text-align: center; */
  /* text-decoration: none; */
  color:#fff;

}
.category_list .ct_item-active{
  background:rgb(165, 108, 108);
}